@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  box-sizing: border-box;
  scrollbar-width: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #11071F;
}
.container{
  max-width: 1320px;
}
.logo Image{
  width: 35px;
  height: 39px;
}
.logo img{
  width: 35px;
  height: 39px;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.preahvihear-regular {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities{
  .title{
    @apply relative  relative text-slate-300 my-20
  }
  .title::before{
    /* @apply  absolute content-[''] text-green-400 border-r-2 top-0 left-0 h-[100%] */
  }
  .title span{
    @apply text-green-400 w-10 h-10 my-auto
  }
}


.image_gradient_me{
  background: hsl(0, 17%, 93%,1);

background: linear-gradient(0deg, hsl(0, 17%, 93%,1) 18%, hsla(290, 79%, 13%, 1) 100%, hsla(0, 0%, 26%, 1) 100%);

background: -moz-linear-gradient(0deg, hsl(0, 17%, 93%,1) 18%, hsla(290, 79%, 13%, 1) 100%, hsla(0, 0%, 26%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsl(0, 17%, 93%,1) 18%, hsla(290, 79%, 13%, 1) 100%, hsla(0, 0%, 26%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#434343", endColorstr="#34073D", GradientType=1 );
z-index: -1;
border-radius: 80%;

}
.work_section{
  background-image: url('/public/Gradient.png');
  height: 500px;
  width: full;
}
.star{
  background: #130428;
  background: linear-gradient(90deg, rgba(19, 4, 40, 1) 7%, rgba(37, 16, 67, 1) 34%, rgba(56, 18, 109, 1) 57%, rgba(38, 16, 69, 1) 85%, rgba(25, 6, 52, 1) 100%);
}
.h-gradient{
  z-index: -50;
  overflow: hidden;
}
.cup{
  background: #2C1250;
  background: linear-gradient(90deg, rgba(19, 4, 40, 1) 7%, rgba(37, 16, 67, 1) 34%, rgba(56, 18, 109, 1) 57%, rgba(38, 16, 69, 1) 85%, rgba(25, 6, 52, 1) 100%);
}
.exp{
  z-index: -10;
}

@media only screen and(max-width:768px) {
  
}